.example-card {
  max-width: 200px;
  min-width: 200px;
  height : 150px;
  outline: 6px black;
  margin: 20px;
}

.example-header-image {

  background-image: url('../../assets/menu_book.svg');
  background-size: cover;
}


.example-container{
    text-align: center
}


.form-container{
    width: 400 px;
    margin: 0 px auto;
    margin-top: 200 px
}





.queue {
  width: 900px;
  background-color: green;

}

.queue-container{
  display: flex; /* or inline-flex */
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content:flex-start;
  background-color: pink;

}


.forms {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.library{
  display: flex; /* or inline-flex */
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: blue;
}
/*
.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
} */
/*
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}


.example-box:last-child {
  border: none;
} */
