.library-grid-container{
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:100%;
}

.book-container{
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
  background-color: lightblue;
  width: 90%;
  height:450px;
}
.example-viewport{
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
  background-color: lightblue;
  width: 100%;
  height:600px;
}
mat-card {
  height: 150px;
  width: 200px;
  margin: 20px;
}

mat-card-title , mat-card-subtitle{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
