
<div class="outer-container" *ngIf="selectedBook">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{selectedBook.title}}</mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <h2 class="example-h2">Progress</h2>
    <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
    <div style="position:relative; top: -60px; left: 40px; font-size: 1.2em;">
        {{ value }}
    </div>
  </mat-card-content>
</mat-card>

{{startDate}}
{{totalPages}}

</div>


<mat-carousel
timings="250ms ease-in"
[autoplay]="true"
interval="5000"
color="primary"
maxWidth="400px"
proportion="100"
slides="5"
[loop]="true"
[hideArrows]="false"
[hideIndicators]="false"
[useKeyboard]="true"
[useMouseWheel]="false"
orientation="ltr"
class="container"
>
  <mat-carousel-slide overlayColor="lightgreen" class="inner-container" *ngFor="let book of books">
    <div  style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center"  >
      <h1>{{ book.title }}</h1>
      <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
      <div style="position:relative; top: -60px; left: 0px; font-size: 1.2em;">
          {{ value }}
      </div>

      <mat-label>Current Page</mat-label>
      <input matInput [(ngModel)]="currentPage"  (ngModelChange)="onPageChange($event)">
      <button  mat-flat-button >
        Enter
      </button>
    </div>
  </mat-carousel-slide>
</mat-carousel>
