

.current-page-container{
  display: flex; /* or inline-flex */
  flex-direction: row ;
  flex-wrap: nowrap;
  justify-content:space-around;
}

.queue-list-container{
  width: 20%;
  min-height: 400px;
  background-color: lightblue;
  border: solid 3px #ccc;
  border-radius: 4px;
  margin: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

}

.queue{
  width: 80%;

}

.queued-books{
  height: 1.6em;
  border: solid 2px #000;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.carousel-container{
  min-width: 400px;
  width: 60%;
  margin-top: 20px;
  border: solid 3px #ccc;
  border-radius: 4px;
}



.read-log-container{
  width: 20%;
  min-height: 400px;
  border: solid 3px #ccc;
  border-radius: 4px;
  margin: 30px;
  margin-top: 20px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sessions{
  width: 80%;

}

.reading-session{
  height: 1.6em;
  border: solid 2px #000;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vertical-divider{
  height:80%;
  border-top-color: black;
}
