<!-- <amplify-authenticator>
  <div>
    Restaurants App
    <amplify-sign-out></amplify-sign-out>
  </div>
</amplify-authenticator> -->

<div class="form-body">
  <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div>
      <label>Title: </label>
      <input type="text" formControlName="title" autocomplete="off">
    </div>
    <div>
      <label>Description: </label>
      <input type="text" formControlName="description" autocomplete="off">
    </div>
    <div>
      <label>Author: </label>
      <input type="text" formControlName="author" autocomplete="off">
    </div>
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="onEndpointValChange(group.value)" multiple="false" formControlName='status'
     [(ngModel)]="myFlagForButtonToggle">
        <mat-button-toggle *ngFor="let item of endpointToggleOptions;" [value]="item">{{item}}</mat-button-toggle>
    </mat-button-toggle-group>
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngFor="let book of books">
  <div>{{ book.city }}</div>
  <div>{{ book.name }}</div>
  <div>{{ book.description }}</div>
</div>


<router-outlet></router-outlet>
