<div class="form-body container">
  <h2>Create Book</h2>

  <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div class="">
    <mat-form-field class="form-field" appearance="outline">
        <mat-label> Title
        </mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Description
        </mat-label>
        <input matInput formControlName="description" >
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Author
        </mat-label>
        <input matInput formControlName="author" required>
      </mat-form-field>
    </div>
    <div class="">
    <mat-button-toggle-group   #group="matButtonToggleGroup" (change)="onEndpointValChange(group.value)" multiple="false" formControlName='status'
     [(ngModel)]="myFlagForButtonToggle">
        <mat-button-toggle *ngFor="let item of endpointToggleOptions;" [value]="item">{{item}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
    <button mat-stroked-button class="form-field" type="submit">Submit</button>
  </form>
</div>
