.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.outer-container {
  flex-flow: row wrap;
  justify-content:center;

}

.form-body {
  flex-flow: column wrap;
  justify-content: flex-start;

}
