<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

  <div class="queue">

      <h2>My Books</h2>
      <ul class="books">
          <li *ngFor="let book of books"
            cdkDrag
            [class.selected]="book === selectedBook"
            (click)="onSelect(book)">
            <span class="badge">{{book.queue_pos}}</span> {{book.title}}
          </li>
        </ul>
      <button mat-stroked-button color="primary" (click)="updateOrder()">Update Order</button>
    </div>
  </div>
